@import url("https://departuremono.com/mono.css");

@font-face {
  font-family: "Departure Mono";
  src: url("https://departuremono.com/DepartureMono-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
